# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Builds
.next
out
dist

# Env
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
*.log
.vscode
.idea

# Vercel local
.vercel

# Tailwind JIT
tailwind.config.js.old
